/*
    You can add your own custom styles here.
*/

code {
    margin: 0;
    font-size: 0.8em;
}

h1[data-scheme=dark],
h2[data-scheme=dark],
h3[data-scheme=dark],
h4[data-scheme=dark] {
    text-shadow: 1px 1px 0.21px rgba(0, 0, 0, 0.459);

}


h2 {
    color: rgb(49, 170, 250);
}

h3 {

    color: rgb(118, 190, 2);
}


h4 {
    color: rgb(243, 172, 86) !important;
}

:root {
    --card-background: #fafafaa6;
    --body-background: linear-gradient(43deg, #ced5ff 0%, #ffbcfb 46%, #FFCC70 100%);
    scrollbar-color: #ff9d00 #f5e6cf;

}

:root[data-scheme=dark] {
    --card-background: #333232a6;
    --body-background: linear-gradient(43deg, #1e2853 0%, #144d57 46%, #156838 100%);
    scrollbar-color: #3a554b #172b23;
    --link-background-opacity: #00ffa2;
}

a {
    color: #3ad8ff;
}
a.link:hover{
    color: #00ffa2;
    text-decoration: underline;
}    